_<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Thanks for choosing E-commerce <%= @user_name %>!</h1>
  <h1>Order confirmation ID : <%= @order.id %> </h1>
    <h2>Date: <%= @order.created_at %></h2>
    <h2> Billed to :<%= @order.email %> </h2>
    <p>
      Thank you for your order!<br>
      We have successfully received payment for your recent purchase. Please keep this receipt for your own records.
    <p>
      On behalf of the E-commerce Staff, we value your patronage with the upmost sincerity !
      
      <p>
        Details of your order are listed below:
      </p>
    </p>

    <table>
    <% items = LineItem.where(order_id: @order.id) %>
    <% items.each do |item| %>
      <% product = Product.find_by(id: item.product_id) %>
  <tr>
    <td><b>Product <%= product.name %> </b></td>
    <td><b>Item Price <%= item.item_price %> </b></td>
    <td><b>Quantity <%= item.quantity %></td> </b></td>
    <td><b>Total_price <%= item.total_price %> </b></td>
  </tr>
  <% end %>
  <h3> Thank you and have a great day ! </h3>
  <h3> E-Commerce 2019 inc </h3>
  </body>
</html>     






