<section class="orders-show">

  <header class="page-header">
    <h1>Order <%= @order.id %></h1>
  </header>
  
  <% UserMailer.order_email(current_user, @order).deliver_now %>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order, email confirmation sent to : <%= User.find_by_email(@order.email).email %>. Order submitted at <%= @order.created_at %>
    </h4>
    # Add before_save method to block guest users from accessing other orders
  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order_total = 0 %>
        <% @items.each do |product| %>
          <%= render 'item', product_id: product.id %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3">
            TOTAL:
          </th>
          <th>
            <%= @order_total %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>  
</div>
<%= link_to "Download Receipt", receipt_path(@receipt, format: :pdf), class: 'btn btn-lg btn-primary' %>

<%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
